@charset "UTF-8";
@import url(reset.css);
@import url(responsive.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
  background: #fafae8;
  color: #4b5052;
  font-family: "abril-text", georgia; 
}

a {
  text-decoration: none; 
}

.site-title{
  padding-top:3%;
  padding-left:3%;
  background:yellow;
}

h1 {
  -webkit-font-smoothing: antialiased;
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  line-height: 1.2em;
  font-size: 50px;
  font-weight: 900; 
}

.site-header {
  -webkit-font-smoothing: antialiased;
  background: #fafae8; }
  .site-header h1, .site-header .tagline, .site-header nav {
    height: 160px;
    float: left; 
  }
  .site-header h1 {
    width: 16.66666667%;
    /* 240/1440 */ 
  }
  .site-header h1 a {
    background-size: 218px 164px;
    display: block;
    height: 150px;
    padding: 80px 40px;
    text-indent: -9999px;
    width: 100%; 
  }
  .site-header .tagline {
    background: #4b5052;
    font-family: "abril-text", georgia;
    padding: 30px 40px 40px 40px;
    width: 33.33333333%;
    /* 480/1440 */ 
  }
  .site-header .tagline h2 {
    color: #fafae8;
    font-size: 18px;
    letter-spacing: -.005em;
    line-height: 1.6em; 
  }

  .site-header nav {
    background: #4b5052;
    width: 50%; 
  }
  .site-header nav li {
    -webkit-font-smoothing: antialiased;
    font-family: "Source Sans Pro";
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .08em;
    text-transform: uppercase;
    display: table;
    table-layout: fixed;
    float: left;
    width: 33.33333333%; 
  }
  .site-header nav li a {
    color: #fafae8;
    display: table-cell;
    height: 80px;
    padding: 0 40px;
    vertical-align: middle;
    width: 100%; 
  }
  .site-header nav li.writing-link {
    background: #79c2b2; 
  }

  .site-header nav li.work-link {
    background: #48a18c; 
  }

  .site-header nav li.notes-link {
    background: #d690a0; 
  }

  .site-header nav li.about-link {
    background: #a2606f; 
  }

  .site-header nav li.talks-link {
    background: #70777a; 
  }

  .site-header nav li.contact-link {
    background: #4b5052; 
  }



